@import "tailwindcss";

@theme {
  --color-primary: #13ec5b;
  --color-primary-dark: #0fb847;

  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;

  --color-surface-light: #ffffff;
  --color-surface-dark: #1a3324;

  --color-text-main-light: #111813;
  --color-text-main-dark: #ffffff;

  --color-text-sub-light: #61896f;
  --color-text-sub-dark: #a3c2af;

  --color-border-light: #dbe6df;
  --color-border-dark: #2a4535;

  --font-display: "Manrope", "Noto Sans", sans-serif;
}

html,
body {
  overflow-x: hidden;
}